debugpy==1.8.1
mypy==1.18.2
httpx>=0.28,<1.0

# Project subpackages
-r ../src/move37/api/python-requirements.txt
-r ../src/move37/alembic/python-requirements.txt
-r ../src/move37/db/python-requirements.txt
